<p id="notice"><%= notice %></p>

<h1>Listing Definitions</h1>

<table>
  <thead>
    <tr>
      <th>Fmt</th>
      <th>Variables</th>
      <th>Constants</th>
      <th>Constraints</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @definitions.each do |definition| %>
      <tr>
        <td><%= definition.fmt %></td>
        <td><%= definition.variables %></td>
        <td><%= definition.constants %></td>
        <td><%= definition.constraints %></td>
        <td><%= link_to 'Show', definition %></td>
        <td><%= link_to 'Edit', edit_definition_path(definition) %></td>
        <td><%= button_to 'Delete', definition, :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Definition', new_definition_path %>
